__pycache__
*.pyc
logs/
bin/yamc-env
logs/
*.egg-info
dist
etc/tests
data/*
bin/*.env
config/aabc_config.yaml
config/o2c_config.yaml
config/homeauto-config.yaml
config/fmw-config.yaml
.DS_Store
.envrc 
.python-version
.vscode
yamc.code-workspace
*/*.env
config/*.yaml
